html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family:
		"Montserrat", BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 1.2;
	color: var(--color-text-primary-light);
	background-color: var(--color-background-light);
}

h1,
h2,
h3,
p {
	font-weight: 400;
}

h1 {
	font-size: var(--font-size-base);
}

h2 {
	font-size: var(--font-size-base);
	font-weight: 800;
}

h3 {
	font-size: var(--font-size-base);
}

p {
	font-size: var(--font-size-base);
}
