---
import avatar from "../../assets/avatar.png";
---

<figure class="profile-picture">
  <div class="profile-circle">
    <img src={avatar.src} alt="Profile picture" class="profile-image" />
  </div>
</figure>

<style>
  .profile-picture {
    flex-shrink: 0;
  }

  .profile-circle {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(315deg, #166383 0%, #64c98e 50%, #c8ded6 100%);

    border-radius: 0 50% 0 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    border: 5px solid var(--color-avatar-border);
    transition: border-color var(--transition-duration) ease;
  }

  .profile-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
  }
</style>
