---
import avatar from "../../assets/avatar.png";
---

<figure class="profile-picture">
  <div class="profile-circle"></div>
  <img src={avatar.src} alt="Profile picture" class="profile-image" />
</figure>

<style>
  .profile-picture {
    flex-shrink: 0;
    position: relative;
    width: 150px;
    aspect-ratio: 17/20;
  }

  .profile-circle {
    width: 135px;
    height: 135px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(315deg, #166383 0%, #64c98e 50%, #c8ded6 100%);

    border-radius: 0 50% 0 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    border: 5px solid var(--color-avatar-border);
    transition: border-color var(--transition-duration) ease;
  }

  .profile-image {
    max-width: 100%;
    max-height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
  }
</style>
