---
import Stack from "../common/Stack.astro";

const SOCIAL_LINKS = [
  {
    name: "GitHub",
    url: "https://github.com/brenttimmermans",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/brenttimmermans",
  },
];
---

<nav>
  <Stack
    direction="row"
    spacing={2}
    wrap={true}
    justifyContent="center"
    class="socials-container"
  >
    {
      SOCIAL_LINKS.map(({ name, url }) => (
        <a
          href={url}
          class="social-link"
          target="_blank"
          rel="noopener noreferrer"
          title={name}
        >
          {name.toUpperCase()}
        </a>
      ))
    }
  </Stack>
</nav>

<style>
  .social-link {
    font-size: var(--font-size-sm);
    font-weight: 600;
    letter-spacing: 0.05em;

    padding: 0.5rem 1rem;

    transition: all 0.2s ease;
  }

  .social-link:hover {
    transform: translateY(-2px);
  }

  @media (max-width: 450px) {
    .socials-container {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
