---
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/variables.css";
import "../styles/global.css";
import ThemeToggle from "../components/common/ThemeToggle.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Hi, I'm Brent</title>
  </head>
  <body>
    <main>
      <ThemeToggle />
      <slot />
    </main>
  </body>
</html>

<style>
  main {
    position: relative;
    box-sizing: content-box;

    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    padding-block: calc(var(--spacing) * 10);
    padding-inline: calc(var(--spacing) * 5);
  }

  @media (max-width: 500px) {
    main {
      padding-inline: calc(var(--spacing) * 3);
    }
  }
</style>
