---
import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/variables.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Hi, I'm Brent</title>
  </head>
  <body>
    <slot />
  </body>
</html>
